<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前后台测试登录</title>
    <link href='{{static_url("bootstrap/css/bootstrap.min.css")}}' rel="stylesheet">

</head>
<body>

     <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">首页</a></li>
      <li role="presentation"><a href="#">精彩</a></li>
      <li role="presentation"><a href="#">消息</a></li>
      <div><li role="presentation"><div>
          {% if user_info['longInFlage']%}
            <li role="presentation">{{user_info['name']}}</li>

          {% else %}
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="myModal" onclick="showModal()">登录</button>
          {% end%}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">欢迎登录</h4>
              </div>
              <div class="modal-body">
                <form action="/longIn" method="post">
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">用户名</label>
                    <input type="text" class="form-control" id="recipient-name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="pwd-text" class="control-label">密码</label>
                    <input type="text" class="form-control" id="pwd-text" name="pwd">
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div></li></div>
    </ul>
     <div>
         <ul>
      <div>
          <li>
              {% if user_info['longInFlage']%}
              <form action="/publicMessage" method="get">
                  <button type="submit" class="btn btn-primary">发布消息</button>
              </form>
              {% else %}
              <button type="submit" class="btn btn-primary" id="publicMessage" onclick="publicMessage()">发布消息</button>
              {% end %}
          </li></div>
         </ul>
     </div>
        <div>
            <ul>
                <li>1111111111</li>
            </ul>
        </div>

     <div>
         <ul>
             {% for item in message_info %}

                <li>{{item['tetile']}}</li>
                <li>{{item['textConte']}}</li>
                <li>{{item['bz']}}</li>
             <h1>-----------------------</h1>
             {% end %}
         </ul>


     </div>


     <script src='{{static_url("jquery/jquery.min.js")}}'></script>
     <script src='{{static_url("bootstrap/js/bootstrap.js")}}'></script>
    <script>

        function showModal() {
             $('#myModal').modal('show')
        }

        function publicMessage() {
            alert("你还没有进行登陆操作，不能进行发布消息！！")
        }
    </script>
</body>

</html>